.idea/
classes/renderer/templates_c/
vendor/
/nbproject/private/
config/dbConfigDaten.php
.settings/
nbproject/
.project
.buildpath
/doctrineMetaDataCache
.vscode/
.gradle/
.idea/
composer.lock
config/dbConfigDaten.php
/doctrineMetaDataCache2/doctrine_metadata
mysql-data
